
<div class="container">
  <form  id="idFormModalidad">
    <div class="row">
          <mat-toolbar color="primary" >    
            <span>Registra Modalidad</span>    
          </mat-toolbar>  
    </div>
    <div class="row">
            <mat-form-field class="col-md-4">
              <mat-label>Nombre</mat-label>
              <input  matInput [(ngModel)] ="objModalidad.nombre"  formControlName="nombre">
            
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Número de Hombres</mat-label>
              <input  matInput [(ngModel)] ="objModalidad.numHombres" formControlName="numHombres">
             
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Número de Mujeres</mat-label>
              <input  matInput  [(ngModel)] ="objModalidad.numMujeres" formControlName="numMujeres">
            
            </mat-form-field>
     </div>   
     <div class="row">
            <mat-form-field class="col-md-4">
              <mat-label>Edad Mínima</mat-label>
              <input  matInput [(ngModel)] ="objModalidad.edadMinima"  formControlName="edadMinima">
              
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Edad Máxima</mat-label>
              <input  matInput [(ngModel)] ="objModalidad.edadMaxima" formControlName="edadMaxima">
           
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Sede</mat-label>
              <input matInput [(ngModel)] ="objModalidad.sede" formControlName="sede">

            </mat-form-field>
     </div>
     <div class="row">     
            <mat-form-field class="col-md-4">
              <mat-label>Deporte</mat-label>
              <mat-select [(ngModel)] ="objModalidad.deporte!.idDeporte" formControlName="deporte" >
                <mat-option value="-1"> [Seleccione] </mat-option>
                <ng-container *ngFor="let x of lstDeportes">
                  <mat-option value="{{x.idDeporte}}">{{x.nombre}}</mat-option>
                </ng-container>
              </mat-select>
           
            </mat-form-field> 
      </div>           
      <div class="row">
            <button mat-raised-button type="submit" color="primary" (click)="registra()"
             >Registra</button>
      </div>
    </form>
</div>
